.tableFixHead          { overflow-y: auto; height: 100%; }
.tableFixHead thead th { position: sticky; top: 0; }

table  { border-collapse: collapse; width: 100%; }

.selected-row {
  background-color: var(--fa-primary) !important;
      /* Firefox */
      -moz-transition: all 200ms ease-in;
      /* WebKit */
      -webkit-transition: all 200ms ease-in;
      /* Opera */
      -o-transition: all 200ms ease-in;
      /* Standard */
      transition: all 200ms ease-in;
}